@import '../../node_modules/coriolan-ui/mixins/clearfix';

.header {
    position: relative;
    z-index: 1000;
    padding: 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(#fff,.3);

    &__wrapper {
        max-width: 999px;
        margin: 0 auto;
        @include clearfix;
    }
}
