@import '../../node_modules/coriolan-ui/mixins/ratio';

.youtube-iframe {
        max-width: 555px;
        margin: 0 auto;
        padding: 10px;

    &__wrapper {
        @include ratio(100%,16,9);
    }

    &__iframe {
        border: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
