$colorBackground: #eee;
$colorText: #A3A3A3;
$colorAccent: #616161;

$fontFamily: 'Roboto', sans-serif;

body {
	margin: 0;
	background: $colorBackground;
	font-family: $fontFamily;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	color: $colorText;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	outline: none;
	color: $colorAccent;
}
