@import '../../node_modules/coriolan-ui/mixins/clearfix';

.flex-container {
    display: flex;
    -webkit-flex-flow: row wrap;
    text-align: center;
}

.flex-item {
    background: tomato;
    padding: 0px;
    width: 25%;
    color: white;
    font-size: 3em;
}

.release-list {
    // padding: 0;
    // margin: 0 auto;
    // @include clearfix;
    // list-style: none;
    // box-sizing: border-box;
    // text-align: center;

    display: flex;
    flex-flow: row wrap;
    text-align: center;

    .release-page & {
        text-align: right;
    }

    &__link {
        background: rgba(#fff,.0);
        color: #8ff;
        // float: left;
        // width: 25%;
        // transition: background .25s ease;
        text-decoration: none;
        position: relative;
        // cursor: pointer;
        font-size: 12px;
        padding: 6px 8px;
        // box-sizing: border-box;

        padding: 0px;
        width: 25%;
        color: white;

        .release-page & {
            width: 100%;
        }

        &:after,
        &:before {
            content: '';
            position: absolute;
            height: 1px;
            width: 0;
            background: #8ff;;
            transition: width .35s ease;
        }

        &:after {
            left: 0;
            top: 1px;
        }

        &:before {
            right: 0;
            bottom: 1px;
        }

        &:hover,
        &.is-selected {
            // color: #fff;
            background: rgba(#fff,.1);

            &:after,
            &:before {
                width: 100%;
            }
        }
    }

    &__cover {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto 4px;
        // transition: width .2s ease;

        .release-page & {
            width: 14px;
            float: left;
            margin-right: 10px;
            margin-bottom: 0;
        }
    }
}
