@import '../../node_modules/coriolan-ui/tools/variables';
@import '../../node_modules/coriolan-ui/mixins/media';
@import '../../node_modules/coriolan-ui/mixins/clearfix';

.mainmenu {
    position: relative;
    z-index: 1000;
    padding: 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(#fff,.3);

    &__container {
        max-width: 999px;
        margin: 0 auto;
        @include clearfix;
    }

    &__link {
        padding: 10px 16px;
        line-height: 30px;
        text-decoration: none;
        color: #fff;
        transition: opacity .25s ease;
        position: relative;
        float: left;
        opacity: .6;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 0;
            height: 0;
            transition: width .25s ease .15s, left .25s ease .15s, height .25s ease;
            background: #e00808;
        }

        &:hover {
            opacity: 1;
        }

        &.is-selected {
            opacity: 1;

            &:after {
                height: 4px;
                left: 0;
                width: 100%;
            }
        }

        &--logo {
            text-align: left;
        }
    }

    &__logo-title {
        position: relative;
        display: block;
        font-size: 16px;
        line-height: 16px;
        color: rgba(#fff,1);
    }

    &__logo-subtitle {
        position: relative;
        display: block;
        font-size: 14px;
        line-height: 14px;
        color: rgba(#fff,.4);
    }

    &__link-svg {
        float: left;
        width: auto;
        height: 30px;
        vertical-align: middle;
    }

    &__link-name {
        line-height: 30px;
        vertical-align: middle;
        margin-left: 1em;
        float: left;
        display: none;
        font-size: 14px;

        @include media(M) {
            display: inline-block;
        }
    }
}
