body {
  font: 400 14px/20px 'Roboto', sans-serif;
  background: #ebebeb;
  margin: 0 auto;
  // padding: 4em;
  min-width: 300px;
  max-width: 600px;
}
a {
  color: hsl(200, 50%, 40%);
  text-decoration: none;
}
#app {
  background: #ddd;
  padding: 1em;
  box-sizing: border-box;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
