@import '../../node_modules/coriolan-ui/tools/variables';
@import '../../node_modules/coriolan-ui/mixins/media';
@import '../../node_modules/coriolan-ui/mixins/clearfix';

.socnav {
    display: flex;
    float: right;

    &__link {
        position: relative;
        padding: 10px 8px;
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        opacity: .6;

        &:hover {
            opacity: 1;
        }

        &-icon {
            width: auto;
            height: 30px;
        }

        &-name {
            font-size: 10px;
            margin-left: 1em;
            display: none;

            @include media(M) {
                display: inline-block;
            }
        }
    }
}
